body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#form-container {
    max-width: 800px;
    margin: auto;
}

input, select, textarea {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
